$red: #ff4a4a;
$blue: #58a2ff;
$green: #56dca4;
.Form {
  width: 60vw;
  border: 1px solid #eee;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);

  h2 {
    color: #fff;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
  }

  form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 3vh;
  }

  input[type="text"] {
    width: 80%;

    border: 0;
    margin: 1vh auto;
    padding: 1vh 0;
    text-align: center;
    transition: 1s ease;
    border-radius: 5px;
    background: #333;
  }

  a {
    color: #fff;
  }
  h4 {
    border: 1px solid #fff;
    margin: 0;
    padding: 1vh 2vw;
    transition: 1s ease;
    text-align: center;
    font-weight: 400;
    color: #fff;
    cursor: pointer;

    &:hover {
      background: #ff5959;
      color: #fff;
      border: 1px solid #ff5959;
    }
  }
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  background: #a5a0a3;
}

@media screen and (max-width: 1192px) {
  .Form {
    width: 80vw;
  }
}

@media screen and (max-width: 992px) {
  .Form {
    width: 90vw;
  }
}
@media screen and (max-width: 768px) {
  .Form {
    border: none;

    .inputs {
      width: 70%;
    }
  }
}
@media screen and (max-width: 600px) {
  .Form {
    h2 {
      font-size: 25px;
    }
    .inputs {
      width: 90%;
    }

    h4 {
      font-size: 15px;
      padding: 1vh 4vw;
    }
  }
}

@media screen and (max-width: 1023px) and (min-aspect-ratio: 4/3) {
  .Form {
    min-height: 75vh;
    max-height: 100%;

    h2 {
      font-size: 25px;
    }

    h4 {
      font-size: 12px;
    }

    form {
      justify-content: flex-start;
    }

    .inputs {
      margin-bottom: 5vh;
    }

    input[type="text"] {
      margin: 2vh auto;
      padding: 2vh 0;
    }
  }
}

@media screen and (max-width: 700px) and (min-aspect-ratio: 4/3) {
  .Form {
    h2 {
      font-size: 25px;
    }
  }
}
