$red: #ff4a4a;
$blue: #58a2ff;
$green: #56dca4;

.Options {
  width: 40vw;
  border: 1px solid #fff;
  margin-bottom: 3vh;
  display: flex;
  color: #fff;
  animation: suggestions 1s ease;

  .suggestion {
    width: 30%;
    margin: 1vh 1.5%;
    border: 1px solid #333;
    text-align: center;
    transition: 1s ease;
    cursor: pointer;

    &:nth-child(1) {
      background: $red;

      &:hover {
        background: darken($red, 5%);
      }
    }
    &:nth-child(2) {
      background: $blue;

      &:hover {
        background: darken($blue, 5%);
      }
    }
    &:nth-child(3) {
      background: $green;

      &:hover {
        background: darken($green, 5%);
      }
    }
  }
}

@keyframes suggestions {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
