$red: #ff4a4a;
$blue: #58a2ff;
$green: #56dca4;

// .Options {
//   width: 40vw;
//   border: 1px solid #fff;
//   margin-top: 3vh;
//   display: flex;
//   color: #fff;
//   animation: suggestions 1s ease;

//   .suggestion {
//     width: 30%;
//     height: 15vh;
//     margin: 1vh 1.5%;
//     border: 1px solid #333;
//     text-align: center;
//     transition: 1s ease;
//     cursor: pointer;
//     a {
//       width: 100%;
//       height: 100%;
//       h5 {
//         margin: 0;
//       }
//     }

//     &:nth-child(1) {
//       background: $red;

//       &:hover {
//         background: darken($red, 5%);
//       }
//     }
//     &:nth-child(2) {
//       background: $blue;

//       &:hover {
//         background: darken($blue, 5%);
//       }
//     }
//     &:nth-child(3) {
//       background: $green;

//       &:hover {
//         background: darken($green, 5%);
//       }
//     }
//   }
// }

.Options {
  width: 40vw;
  border: 1px solid #fff;
  margin-top: 3vh;

  a {
    width: 30%;
    margin: 1vh 1.6%;
    transition: 1s ease;
    animation: suggestions 1s ease;

    &:nth-child(1) {
      background: $red;

      &:hover {
        background: darken($red, 5%);
      }
    }
    &:nth-child(2) {
      background: $blue;

      &:hover {
        background: darken($blue, 5%);
      }
    }
    &:nth-child(3) {
      background: $green;

      &:hover {
        background: darken($green, 5%);
      }
    }

    .suggestion {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;

      h5 {
        text-align: center;
        font-weight: 400;
      }
    }
  }
}

@keyframes suggestions {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1192px) {
  .Options {
    width: 60vw;
  }
}

@media screen and (max-width: 992px) {
  .Options {
    width: 70vw;
    a {
      .suggestion {
        h5 {
          margin: 1.5vh auto;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .Options {
    width: 80vw;
  }
}
@media screen and (max-width: 600px) {
  .Options {
    flex-direction: column;
    border: none;
    padding-bottom: 2vh;

    a {
      width: 80%;
      margin: 1vh auto;

      .suggestion {
        h5 {
          margin: 1.2vh auto;
          font-size: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) and (min-aspect-ratio: 4/3) {
  .Options {
    width: 80vw;
    margin: 4vh 0;
    border: none;

    a {
      .suggestion {
        h5 {
          font-size: 10px;
          margin: 2.5vh auto;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) and (min-aspect-ratio: 4/3) {
}
